---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.page__hero {

    &--overlay {
      padding: 0.5em 0;

      .page__lead {
        font-size: $type-size-5;
        max-width: $medium;
      }

      .page__title {
        font-size: $type-size-2;

        @include breakpoint($small) {
          font-size: $type-size-4;
        }
      }
    }
  }
